.admin .title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5em 0;
}

.admin .posts {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:2em 0;
}
