#fusion-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10em 2em;
}
.fusion-data-container {
    margin-right:2em;
    display:flex;
    flex-direction: column;
}
.fusion-data-container img {
    max-height: 3em;
}
.fusion-data-container span {
    font-size: 5em;
}
.fusion {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.fusion header {
    display:flex;
    flex-direction: column;
    background-color: #007acc;
    padding:15em 5em;
}

.fusion .syntax {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #007acc;
    padding:5em 2em;
}

.fusion .syntax .code {
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 64px rgba(0,0,0,0.5);
}

.fusion header .tilt {
    transform: rotate(180deg);
    overflow: hidden;
}

.fusion h1{
    font-size: 5em;
}
.fusion h2 {
    font-size: 3em;
}
.fusion header em {
    font-size: 2em;
}
.fusion .syntax .clean-syntax {
    max-width: 60%;
}
.fusion .syntax .clean-syntax h2 {
    margin-bottom: 0.5em;
}