.resume {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    background-color: var(--theme-mid);
}
.resume h1 {
    font-size:5em;
    margin-bottom: 1em;
}

.resume section {
    margin:2em 0;
}


.resume .language {
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.resume .school {
    padding: 2em 1;
}
.resume .language img,.resume .school img {
    width: 2em;
    margin-right: 1em;
}
.resume .language {
    padding:2em 0;
}
.resume .language p{
    font-size: 1.5em;
    margin-right: 1em;
}
.resume .school p {
    margin:1em 0;
}
.resume h2 {
    font-size:3em;
}
.resume .school .row {
    display:flex;
    flex-direction: row;
}
.resume .exp section {
    margin:2em 0;
}