.resume {
    display:flex;
    flex-direction: column;
    width: 100%;
}
.resume h1 {
    font-size:5em;
}
.resume section {
    background-color: var(--theme-mid);
    margin:4em 0;
    padding-left: 1em;
}

.resume .language {
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.resume .language img,.resume .school img {
    width: 2em;
    margin-right: 1em;
}
.resume .language p{
    margin-right: 1em;
}
.resume .school p {
    margin:1em 0;
}
.resume h2 {
    font-size:3em;
}