.right-arrow {
    width: 8em;
    height: 8em;
}
.right-arrow #path {
    fill:var(--theme-mid);
    animation-name: moveRight;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
} 
@keyframes moveRight {
    0% {
        transform: none;
        opacity: 1;
    }
    50% {
        transform: translateX(100%);
        opacity: 0;
    }
    51% {
        transform: translate(-100%);
    }
    100% {
        transform: none;
        opacity: 1;
    }
}