.active {
    background-color: var(--theme-dark) !important;
    color:white !important;
}
.nav ul {
    list-style: none;
    display: flex;
    text-align: left;
}

.nav::-webkit-scrollbar {
    display:none;
}

.nav {
    padding:0.5em 0em;
    background-color: #252526;
    font-family: Consolas,Arial, Helvetica, sans-serif;
    max-height: 1.1em;
    overflow-x: auto;
    overflow-y: hidden;
}


.nav a {
    background-color: var(--theme-light);
    color:#888888;
    text-decoration: none;
    padding:0.5em;
    border-right: solid 1px black;
}


a:link {
    color:#6ac8ff
}
