.phd h1 {
    font-size: 5em;
}
.phd header {
    background-color: var(--yellow);
    color:var(--active-font-color);
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15em;
}
.phd .text {
    max-width: 600px;
    margin-bottom: 2em;
    position: relative;
}
.phd .video1 .text {
    margin-right: 5em;
}
.phd header em {
    font-size: 1.5em;
}
.phd header img {
    width: 100%;
    height: 100%;
    max-width: 320px;
    border:solid 8px white;
    position: relative;
    box-shadow: 1px 0 16px #1b1900;
    object-fit: cover;
    bottom:-15em;
}

@media (max-width:800px) {
    .phd header {
        flex-direction: column;
        justify-content: center;
    }
    .phd header .text {
        top:5em;
    }
    .phd .video1 .text {
        margin-right: 0;
    }
}
.phd .video1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 2em;
    padding:3em;
}
.phd .video1 h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.phd .video1 video {
    border:solid 8px var(--yellow);
    border-radius: 2px;
    width: 100%;
    max-width: 640px;
    box-shadow: 1px 0px 16px #131100;
}

@media (max-width:1100px) {
    .phd .video1 {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
}
.phd .process {
    padding: 5em;
    display:flex;
    flex-direction: column;
    background-color: var(--yellow);
    box-shadow: inset 0 10px 16px black;
}
.phd .process span {
    font-size: 3em;
}
.phd .process .box {
    width: 18em;
    height: 18em;
    grid-column: 1;
    padding:3em;
    background-color: var(--theme-mid);
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 0 16px #363100;
    align-self: center;
}

@media (max-width:400px) {
    .phd .process .box {
        width: 12em;
        height: 60%;
    }
    
}
.phd .process .box .line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.phd .process .box .line img{
    margin-right:1em;
    width: 30%;
}
.phd .process .box .line div {
    margin:1em;
    margin-left: 2em;
}

.phd .route1 {
    align-self: center;
    display:grid;

}
.phd .arrowbox {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.phd .process #box1 {
    grid-column: 1;
    grid-row:1
}
.phd .process #box2 {
    grid-column: 3;
    grid-row:1;
}

.phd .process #box3 {
    grid-column: 5;
    grid-row:1;
}

.phd .process #arrow1 {
    grid-column: 2;
    grid-row:1;
    align-self: center;
    justify-self: center;
} 
.phd .process #arrow2 {
    grid-column: 4;
    grid-row:1;
    align-self: center;
    justify-self: center;
}

@media (max-width:1430px) {
    .phd .process #box3 {
        grid-row:3;
        grid-column: 3;
    }
    .phd .process #arrow2 {
        grid-row:2;
        grid-column: 3;
        transform: rotate(90deg) !important;
    }
}

@media (max-width:915px) {
    .phd .process #box2 {
        grid-row:3;
        grid-column: 1;
    }
    .phd .process #arrow1 {
        grid-row:2;
        grid-column: 1;
        transform: rotate(90deg) !important;
    }
    .phd .process #box3 {
        grid-row:5;
        grid-column: 1;
    }
    .phd .process #arrow2 {
        grid-row:4;
        grid-column: 1;
        transform: rotate(90deg) !important;
    }
}



.phd .gray-gear #inside {
    fill:#C6C6C6;
}
.phd .gray-gear #outside {
    fill:#969696;
}

.phd .yellow-gear #inside {
    fill:#8b6b00;
}
.phd .yellow-gear #outside {
    
    fill:#ffd546;
}
.phd .blue-gear #inside {
    fill:#3774a7;
    
}
.phd .blue-gear #outside {
    fill:#003c6d;
}

.phd .gear {
    position: relative;
    width: 75%;
    transform-origin:  center center;
    animation-name: gearSpin;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



.phd .gear #outline,#circle,#line {
    fill:none;
    stroke-width: 5px;
    stroke-miterlimit: 10px;
    stroke-linecap: round;
    stroke:black;
}


.phd .gearbox {
    height: 50%;
}
.phd .gearbox  h2{
    font-size: 1.5em;
    margin:0 auto;
    position: relative;
    top:-6em;   
    margin-bottom: -4em;
}

.phd .blue-gear {
    animation-duration: 3s;
    animation-direction: reverse;
    left:-1em;
    top:-1em;
}
.phd .yellow-gear {
    animation-duration: 3s;
    width: 50%;
    left:10.5em;
    top:-7em;
}
.phd .gray-gear {
    animation-duration: 3s;
    animation-delay: -100ms;
    width: 25%;
    animation-direction: reverse;
    left:7.6em;
    top:-10em;
}

@media (max-width:400px) {
    .phd .blue-gear {
        left:-10%;
        top:-30%;
    }
    .phd .yellow-gear {
        left:52%;
        top:-60%;
    }
    .phd .gray-gear {
        left:36%;
        top:-75%;
    }
}

@keyframes gearSpin {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(360deg);
    }
}

.phd #recog {
    padding:3em;
    box-shadow: inset 0 10px 16px black;
    display:grid;
    align-items: center;
    justify-content: center;

}

.phd #arrow3 {
    grid-row:1;
    grid-column: 3;
    justify-self: center;
    align-self: center;
}

.phd #yolocpu {
    grid-row:2;
    grid-column: 3;
}
.phd #arrow4 {
    grid-row:2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}


.phd #recog .draw-container {
    grid-row:2;
    grid-column: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:960px) {
    .phd #arrow3 {
        grid-row:1;
        grid-column: 1;
    }
    .phd #yolocpu {
        grid-row:2;
        grid-column: 1;
        max-width: 100%;
    }
    .phd #arrow4 {
        grid-row: 3;
        grid-column: 1;
        transform: rotate(-90deg) !important;
    }
    .phd .draw-container {
        grid-row:4 !important;
        grid-column: 1;
    }
}

.phd #recog .right-arrow #path{
    fill:var(--yellow);
}
