.home {
    padding: 1.5em 0;
}

.home header.head {
    padding:10em 2em;
    display: grid;
    place-items: center;
}
.home header h1 {
    font-size: 5em;
}

.home section#portfolio {
    background-color: var(--theme-mid);
}
.portfolio-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 2em 0;
}
.home svg {
    height: 10em;
    width: 100%;
    margin-bottom: -5px;
}
.home svg path#bottom {
    fill:var(--theme-mid);
}
.home #portfolio svg path#bottom {
    fill:var(--theme-dark);
}
.home .skills {
    margin:5em 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.home .skills h2 {
    margin-bottom: 3em;
}
.home .skills .skill-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}