.android *{
    color:var(--active-font-color);
}
.android header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:5em 0;
    background-color: var(--green);
}
