.usr-icon {
    max-height: 1em;
    margin: 0 0.5em;
    justify-self: flex-end;
    border-radius: 100%;
    transition: var(--transition-time);
	stroke:#888;
	stroke-width:30;
	fill:transparent;
    cursor: pointer;
}

.usr-icon:hover {
    box-shadow: 0px 0px 5px black;
    stroke: white;
}
.loginbtn {
    display:flex;
    flex-direction: row;
    margin-right: 0.5em;
}