.usr-icon {
    max-height: 1em;
    margin: 0 1em;
    justify-self: flex-end;
    border-radius: 100%;
    transition: var(--transition-time);

	stroke:black;
	stroke-width:30;
	fill:transparent;
}

.usr-icon:hover {
    box-shadow: 0px 0px 5px black;
    stroke: white;
}