
.icon {
    width: 2em;
    height: 2em;
}
.experience .icons {
    display:flex;
    flex-direction: row;
}

.experience .icons .icon {
    margin-top:0.3em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.experience header h3 {
    font-size:2em;
}
