.portfolio-card {
    text-shadow: 0 1px 10px black;
    display:flex;
    width: 15em;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--theme-dark);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);   
    border-radius: 5px;
    overflow: hidden;
    margin: 2em;
    padding:1em;
    transition: var(--transition-time);
    border-bottom-width: 8px;
    border-bottom-style: solid;
}
.portfolio-card:hover {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.5);  

    transform: translateY(-10px);
}

.portfolio-header {
    display:flex;
    flex-direction: row;;
    justify-content: space-between;
}

.portfolio-card img {
    object-fit: cover;
    width: 10em;
}

.portfolio-card .portfolio-card-content {
    padding:1em;
    padding-top: 0.5em;
}

.portfolio-card .portfolio-card-content p {
    word-wrap: break-word;
    max-width: 300px;
    min-height: 4em;
    padding: 0;
}
.portfolio-card .portfolio-card-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding:0 1em 1em 0.5em;
    margin:0 0.5em;
}

.portfolio-content {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: visibility 0.5s, opacity var(--transition-time) linear,max-height var(--transition-time) linear;
}

.portfolio-content.portfolio-active {
    opacity: 1;
    visibility: visible;
    max-height: 1000px; 
}


.portfolio-card button {
    border: solid 3px #2e2e2e;
    border-radius: 1px;
    background: #58585833;
    padding:0.5em;
    color:var(--font-color); 
    transition: var(--transition-time);
    font-weight:bold;   
}

.portfolio-card button:hover {
    
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5),0 0 5px black;
     
}

@media (max-width:1360px) {
    .portfolio-card {
        max-width: none;
        width: 100%;
    }
}