:root {
  --selection:#343a40;
  --strong-selection:#346ba1;
}
.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-y: auto;
  height: 100%;
}

::-moz-selection {
  background: var(--selection);
}
::-webkit-selection {
  background: var(--selection);
}
::selection {
  background: var(--selection);
}

strong::-moz-selection {
  background: var(--strong-selection);
}
strong::-webkit-selection {
  background: var(--strong-selection);
}
strong::selection {
  background: var(--strong-selection);
}



.content {
  background-color: var(--theme-dark);
  position: relative;
  overflow-y: hidden;
  flex:0 1 100%;
}

.main-text {
  height: 100%;
}



@media (max-width: 1000px) {
  .main {
      flex-direction: row;
  }
  .skill {
      width: auto;
  }
  .skill-container {
      flex-direction: column !important;
  }
}

@media (max-width:700px) {

  .main {
      padding:0;
      flex-direction: column;
  }


  .content {
      border-radius: 0 0 0 0;
      flex: 1 0 1000px;
      
  }
  .footer {
      border-radius: 0 0 0 0;
  }

  .nav {
      border-radius: 0 0 0 0;
  }

  .side {
      border-radius: 0 0 0 0;
  }
}
