:root {
  --transition-time: 350ms;
  --vs-comment-border-color:#0569b1;
  --vs-comment-background-color:#001f34;
  --blue:#007acc;
  --yellow:#ffe600;
  --strong:#264f78;
  --react:#61DBFB;
  --green:#2ECB2D;
  --selection:#343a40;
  --strong-selection:#346ba1;
}
.themedark {
  --nav-font-color:#888;
  --font-color:#ccc;
  --active-font-color:white;
  --theme-light: #2d2d2d;
  --theme-mid: #252526;
  --theme-dark: #1e1e1e;
  --scroll-thumb:#424242;
  --scroll-thumb-hover:#4f4f4f;
  --scroll-border:#393939;
  --scroll-border-hover:#575757;
  --nav-border: black;
}

.themelight {
  --theme-light: #e5e5e5;
  --theme-mid: #eaeaeb;
  --theme-dark: #fafafa;
  --active-font-color:black;
  --nav-font-color:#535486;
  --font-color:#616161;
  --nav-border:#dbdbdc;

  --scroll-thumb:#424242;
  --scroll-thumb-hover:#4f4f4f;
}

* {
  margin:0;
  padding: 0;
  font-family: Consolas;
  outline: none;
  color:var(--font-color);
  transition:var(--transition-time);
}


@font-face {
  font-family: Consolas;
  src: url(fonts/Consolas.ttf);
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size:2rem;
}
h3 {
  font-size:1.5rem;
}


body {
  background-repeat:no-repeat;
  background-color: var(--theme-dark);
  color: var(--font-color);
  font-family: Consolas,Arial, Helvetica, sans-serif;
}
strong,b {
  font-weight: bolder;
  background-color: var(--strong);
  border-radius: 5px;
  padding:0.1em;
}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: var(--theme-dark); 
  border-left: solid 1px var(--scroll-border);
}
 
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb); 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover); 
  border-left: solid 1px var(--scroll-border-hover);
}

::-moz-selection {
  background: var(--selection);
}
::-webkit-selection {
  background: var(--selection);
}
::selection {
  background: var(--selection);
}

strong::-moz-selection {
  background: var(--strong-selection);
}
strong::-webkit-selection {
  background: var(--strong-selection);
}
strong::selection {
  background: var(--strong-selection);
}