:root {
  --font-color:#ccc;
  --active-font-color:white;
  --theme-light: #2d2d2d;
  --theme-mid: #252526;
  --theme-dark: #1e1e1e;
  --transition-time: 350ms;
}


* {
  margin:0;
  padding: 0;
  font-family: Consolas;
  outline: none;
}
div#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html,body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: Consolas;
  src: url(fonts/Consolas.ttf);
}


.app {
  height: 100%;
  display:flex;
  flex-direction: column;
}

.d {
  position: absolute;
  top: -1000px;
}

body {
  height: 100%;
  background-repeat:no-repeat;
  background-color: #1e1e1e;
  color: #cccccc;
  font-family: Consolas,Arial, Helvetica, sans-serif;
}
strong,b {
  font-weight: bolder;
  background-color: #264f78;
  border-radius: 5px;
  padding:0.1em;
}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #1e1e1e; 
  border-left: solid 1px #393939;
}
 
::-webkit-scrollbar-thumb {
  background: #424242; 
}


::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
  border-left: solid 1px #575757;
}
