.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  background-color: var(--theme-dark);
  position: relative;
}

html,body,#root {
  height: 100%;
  overflow:hidden;
}

.money {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252526;
  border-radius: 15px;
  color:#58935e;
  padding:2em 4em;
  margin:1em;
  box-shadow: 0 0 64px black;
}
.money h2 {
  padding-bottom: 1em;
}
.confetti {
  padding-top:1em;
  width: 100%;
  height: 100%;
}