:root {
  --selection:#343a40;
  --strong-selection:#346ba1;
}

::-moz-selection {
  background: var(--selection);
}
::-webkit-selection {
  background: var(--selection);
}
::selection {
  background: var(--selection);
}

strong::-moz-selection {
  background: var(--strong-selection);
}
strong::-webkit-selection {
  background: var(--strong-selection);
}
strong::selection {
  background: var(--strong-selection);
}


.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
  background-color: var(--theme-dark);
  position: relative;
}

html,body,#root {
  height: 100%;
  overflow:hidden;
}


@media (max-width: 1000px) {
  .skill {
      width: auto;
  }
  .skill-container {
      flex-direction: column !important;
  }
}
